
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<div class="text-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-chart">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Registe-se</h4>
                    <p class="card-category">Clique no botão Candidato ou Membro.</p>
                </div>
                <div class="card-body">
                    <form>
                        <button type="button" class="btn btn-outline-success btn-sm" onclick="location.href='@Url.Action("CreateParticipante", "Register", new { email = ViewBag.Email, returnUrl = ViewBag.Url })'">
                            <i class="material-icons">person</i>
                            Candidato
                        </button>
                        <button type="button" class="btn btn-outline-success btn-sm" onclick="location.href='@Url.Action("CreateMembro", "Register", new { email = ViewBag.Email, returnUrl = ViewBag.Url })'">
                            <i class="material-icons">person</i>
                            Membro
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

