<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#">
                        SGDE UP-Maputo
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                            document.write(new Date().getFullYear())
            </script>, criado por
            <a href="#" target="_blank">Carlos João Cossa</a>.
        </div>
    </div>
</footer>