@model SDGE.UI.Web.Models.MembroOrganizadorViewModel

<div class="modal fade" id="modalAddMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="AddMember">
                <!--Header-->
                <div class="modal-header mx-3 pt-3 mb-1">
                    <h4 class="modal-title" id="myModalLabel">Addicionar Membros</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ComissaoOrganizadoraId" />
                            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                            <div class="form-group">
                                <select asp-for="Membros" id="membros" asp-items="ViewBag.MembroId" multiple title="SELECCIONE O(S) MEMBRO(S)" data-width="100%" data-style="btn-outline-info" data-live-search="true" data-selected-text-format="count > 1"></select>
                                <span asp-validation-for="Membros" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="pull-right mx-3 pt-3 mb-1">
                    <input type="button" value="Criar" class="btn btn-outline-success" />
                    <button type="button" class="btn btn-outline-success" data-save="modal">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //select
    $('#membros').selectpicker();
</script>