@model SDGE.UI.Web.Models.ComissaoOrganizadoraViewModel
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="modal fade" id="modalAddMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Participar">
                <!--Header-->
                <div class="modal-header mx-3 pt-3 mb-1">
                    <h4 class="modal-title" id="myModalLabel">Participar da Comissao</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                            <div class="form-group">
                                <label asp-for="Codigo" class="bmd-label-floating"></label>
                                <input asp-for="Codigo" class="form-control" autocomplete="off" />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="pull-right mx-3 pt-3 mb-1">
                    <input type="button" class="btn btn-outline-danger" data-dismiss="modal" value="Fechar" />
                    <button type="button" class="btn btn-outline-success" data-save="modal">Participar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

</script>