@model SDGE.UI.Web.Models.ComissaoOrganizadoraViewModel

@{
    ViewData["Title"] = "Tem um código da comissão organizadora?";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">@ViewData["Title"]</h4>
                <p class="card-category">Para participar numa comissão organizadora, introduza o código fornecido pelo organizador.</p>
            </div>
            <div class="card-body">
                <form asp-action="Participar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Codigo" class="bmd-label-floating"></label>
                        <input asp-for="Codigo" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-outline-danger btn-sm">
                            <i class="material-icons">close</i>
                            Cancelar
                        </button>
                        <button type="submit" id="criar" class="btn btn-outline-success btn-sm">
                            <i class="material-icons">done</i>
                            Participar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
