@model SDGE.UI.Web.Models.ComissaoCientificaViewModel

@{
    ViewData["Title"] = "Participar";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Participar na comissão científica</h4>
                <p class="card-category">Comissão responsável por avaliar as submissões.</p>
            </div>
            <div class="card-body">
                <form asp-action="Participar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Codigo" class="bmd-label-floating"></label>
                        <input asp-for="Codigo" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                    <div class="form-group text-right">
                        <a asp-action="index">
                            <input type="button" value="Voltar" class="btn btn-primary btn-sm waves-effect" />
                        </a>
                        <input type="submit" value="Participar" class="btn btn-outline-primary btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
